:root{
    --color-primary: #f0f0f0;
    --color-secendary: #a40025;
    --color-text: #0c0c0c;
    --color-web-content: #fff2f6;
}

/*typography*/
html{
    font-size: 62.5%;
}

body{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    width: 100%;
}

h1{
    font-size: 5.5rem;
}

h2{
    font-size: 4rem;
    margin-bottom: 1rem;
}

p{
    font-size: 1.5rem;
}

/*nav-bar styles*/
.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 2rem;

    background-color: var(--color-primary);
}
.navbar li{
    display: inline;
    margin-left: 0.2rem;
    margin-right: 0.3rem;
}

.navbar li::after{
    content: '|';
    margin-left: 0.2rem;
    color: #474747;
    transition: font-weight 0.3s;
}

.navbar li:hover{
    cursor: pointer;
    color: black;
    font-weight: bold;
}
